
<p><%= @material_count %> materials</p>

<section class="manufacturer-listing">
  <%= @manufacturer_count %> manufacturers:
  <% @manufacturers.each do |letter, group| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= letter %></h5>
      <ul class="list-group">
      <% group.each do |manufacturer| %>
        <li class="list-group-item">
          <%= link_to manufacturer.name, materials_path(manufacturer_id: manufacturer.id) %>
        </li>
      <% end %>
      <ul>
    </div>
  </div>
  <% end %>
</section>
