<% if @materials.size == 0 %>
  <p>No materials added to compare. Add more materials by using the Add/Remove
    button in the materials search page</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <% @materials.each do |material| %>
          <th><%= material.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      <% @materials.each do |material| %>
        <td>
          <%= button_to 'Remove', {:action => 'remove_from_compare', :id => material.id },
          method: "delete", class: "btn btn-primary" %>
        </td>
      <% end %>
      </tr>
      <% material_values(@materials).each do |attr, values| %>
      <tr>
        <td><%= show_attribute(attr) %></td>
        <% values.each do |value| %>
          <td><%= styled_value(value, values) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>